<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.report.ChargePaymentMapperReport">
  <resultMap id="BaseResultMap" type="com.resto.shop.web.model.ChargePayment">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="payment_money" property="paymentMoney" jdbcType="DECIMAL"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="charge_order_id" property="chargeOrderId" jdbcType="VARCHAR"/>
    <result column="is_use_bonus" property="isUseBonus"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.resto.shop.web.model.ChargePayment" extends="BaseResultMap">
    <result column="pay_data" property="payData" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">id, payment_money, create_time, charge_order_id, is_use_bonus</sql>
  <sql id="Blob_Column_List">pay_data</sql>

	<!-- 查询微信充值订单记录 -->
	<select id="selectPayList" resultType="ChargePayment">
		SELECT
		cp.create_time,
		cp.payment_money,
		co.reward_money,
		tc.telephone,
		co.shop_detail_id,
		co.brand_id
		FROM
		tb_charge_payment cp
		INNER JOIN tb_charge_order co
		ON cp.charge_order_id = co.id
		INNER JOIN tb_customer tc
		ON co.customer_id = tc.id
		where
		<![CDATA[ cp.create_time>#{begin} AND cp.create_time<#{end}]]>
	</select>


</mapper>
