<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.report.CouponMapperReport">
    <resultMap id="BaseResultMap" type="com.resto.shop.web.model.Coupon">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="DECIMAL"/>
        <result column="min_amount" property="minAmount" jdbcType="DECIMAL"/>
        <result column="begin_date" property="beginDate" jdbcType="DATE"/>
        <result column="end_date" property="endDate" jdbcType="DATE"/>
        <result column="begin_time" property="beginTime" jdbcType="TIME"/>
        <result column="end_time" property="endTime" jdbcType="TIME"/>
        <result column="is_used" property="isUsed" jdbcType="BIT"/>
        <result column="using_time" property="usingTime" jdbcType="TIMESTAMP"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="coupon_source" property="couponSource" jdbcType="VARCHAR"/>
        <result column="use_with_account" property="useWithAccount" jdbcType="BIT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="distribution_mode_id" property="distributionModeId" jdbcType="INTEGER"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="shop_det" property="customerId" jdbcType="VARCHAR"/>
        <result column="coupon_type" property="couponType"/>
        <result column="new_custom_coupon_id" property="newCustomCouponId"/>
    </resultMap>
    <sql id="Base_Column_List">id, name, value, min_amount, begin_date, end_date, begin_time, end_time, is_used, using_time, coupon_source, use_with_account, remark, distribution_mode_id, customer_id, new_custom_coupon_id</sql>

    <select id="selectCouponDto" resultType="com.resto.brand.web.dto.CouponDto" parameterType="java.util.Map">
        select
        CASE tc.coupon_type
        WHEN -1 THEN '通用优惠券'
        WHEN 0 THEN '注册优惠券'
        WHEN 1 THEN '邀请优惠券'
        WHEN 2 THEN '生日优惠券'
        WHEN 3 THEN '分享优惠券'
        WHEN 4 THEN '实时优惠券'
        WHEN 5 THEN '流失唤醒优惠券'
        END couponType,
        IF(tc.brand_id is not null,'品牌','店铺') couponSoure,
        tc.`name` couponName,
        COUNT(1) couponCount,
        SUM(tc.`value`) couponMoney,
        CASE tc.coupon_type
        WHEN 0 THEN COUNT(DISTINCT tc.customer_id)
        WHEN 1 THEN COUNT(DISTINCT tc.customer_id)
        ELSE 0
        END customerCount,
        tc.shop_detail_id shopDetailId,
        tc.coupon_type couponTypeInt,
        SUM(IF(tc.is_used = 1 and using_time &gt;= CONCAT(#{useBeginDate},' 00:00:00') and using_time &lt;= CONCAT(#{useEndDate},' 23:59:59'),1,0)) useCouponCount,
        SUM(IF(tc.is_used = 1 and using_time &gt;= CONCAT(#{useBeginDate},' 00:00:00') and using_time &lt;= CONCAT(#{useEndDate},' 23:59:59'),tc.value,0)) useCouponMoney,
        SUM(IF(tc.is_used = 1 and using_time &gt;= CONCAT(#{useBeginDate},' 00:00:00') and using_time &lt;= CONCAT(#{useEndDate},' 23:59:59'),
        (select td.order_money from tb_order td inner join tb_order_payment_item top on td.id = top.order_id
        where td.order_state in (2,10,11,12) and td.production_status in (2,3)
        and top.result_data = tc.id and top.payment_mode_id not in (13,14,15,20,21) GROUP BY td.id),0)) useCouponOrderMoney
        from tb_coupon tc
        where tc.add_time &gt;= CONCAT(#{grantBeginDate},' 00:00:00')
        and tc.add_time &lt;= CONCAT(#{grantEndDate},' 23:59:59')
        GROUP BY tc.`name`
        --         GROUP BY tc.new_custom_coupon_id, tc.`name`
    </select>

</mapper>
