<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.report.OrderMapperReport">
    <resultMap id="BaseResultMap" type="com.resto.shop.web.model.Order">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="table_number" property="tableNumber" jdbcType="VARCHAR"/>
        <result column="customer_count" property="customerCount" jdbcType="INTEGER"/>
        <result column="accounting_time" property="accountingTime" jdbcType="DATE"/>
        <result column="order_state" property="orderState" jdbcType="INTEGER"/>
        <result column="production_status" property="productionStatus"  jdbcType="INTEGER"/>
        <result column="original_amount" property="originalAmount" jdbcType="DECIMAL"/>
        <result column="reduction_amount" property="reductionAmount" jdbcType="DECIMAL"/>
        <result column="payment_amount" property="paymentAmount"  jdbcType="DECIMAL"/>
        <result column="order_money" property="orderMoney" jdbcType="DECIMAL"/>
        <result column="ali_pay_discount_money" property="aliPayDiscountMoney"/>
        <result column="article_count" property="articleCount" jdbcType="INTEGER"/>
        <result column="serial_number" property="serialNumber" jdbcType="VARCHAR"/>
        <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP"/>
        <result column="print_times" property="printTimes" jdbcType="INTEGER"/>
        <result column="allow_cancel" property="allowCancel" jdbcType="BIT"/>
        <result column="allow_appraise" property="allowAppraise"  jdbcType="BIT"/>
        <result column="closed" property="closed" jdbcType="BIT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="operator_id" property="operatorId" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="customer_address_id" property="customerAddressId" jdbcType="VARCHAR"/>
        <result column="distribution_date" property="distributionDate"  jdbcType="DATE"/>
        <result column="distribution_time_id" property="distributionTimeId"  jdbcType="INTEGER"/>
        <result column="delivery_point_id" property="deliveryPointId"  jdbcType="INTEGER"/>
        <result column="shop_detail_id" property="shopDetailId"  jdbcType="VARCHAR"/>
        <result column="distribution_mode_id" property="distributionModeId"  jdbcType="INTEGER"/>
        <result column="ver_code" property="verCode" jdbcType="VARCHAR"/>
        <result column="push_order_time" property="pushOrderTime" jdbcType="TIMESTAMP"/>
        <result column="print_order_time" property="printOrderTime"  jdbcType="TIMESTAMP"/>
        <result column="call_number_time" property="callNumberTime" jdbcType="TIMESTAMP"/>
        <result column="order_mode" property="orderMode" jdbcType="INTEGER"/>
        <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>
        <result column="amount_with_children" property="amountWithChildren" jdbcType="DECIMAL"/>
        <result column="parent_order_id" property="parentOrderId" jdbcType="VARCHAR"/>
        <result column="allow_continue_order" property="allowContinueOrder"  jdbcType="BIT"/>
        <result column="count_with_child" property="countWithChild" jdbcType="INTEGER"/>
        <result column="last_order_time" property="lastOrderTime"  jdbcType="TIMESTAMP"/>
        <result column="orderCount" property="orderCount"/>
        <result column="orderTotal" property="orderTotal"/>
        <result column="service_price" property="servicePrice"/>
        <result column="pay_mode" property="payMode"/>
        <result column="base_money" property="baseMoney"/>
        <result column="base_order_money" property="baseOrderMoney"/>
        <result column="base_customer_count" property="baseCustomerCount"/>
        <result column="meal_fee_price" property="mealFeePrice"/>
        <result column="meal_all_number" property="mealAllNumber"/>
        <result column="is_pay" property="isPay"/>
        <result column="base_meal_all_count" property="baseMealAllCount"/>
        <result column="pay_type" property="payType"/>
        <result column="is_refund_order" property="isRefundOrder"/>
        <result column="is_get_share_coupon" property="isGetShareCoupon"/>
        <result column="is_pos_pay" property="isPosPay"/>
        <result column="print_fail_flag" property="printFailFlag"/>
        <result column="print_kitchen_flag" property="printKitchenFlag"/>
        <result column="pos_discount" property="posDiscount"/>
        <result column="erase_money" property="eraseMoney"/>
        <result column="no_discount_money" property="noDiscountMoney"/>
        <result column="is_consumption_rebate" property="isConsumptionRebate"/>
        <result column="group_id" property="groupId"/>
        <result column="before_id" property="beforeId"/>
        <result column="order_before" property="orderBefore"/>
        <result column="sauce_fee_count" property="sauceFeeCount"/>
        <result column="sauce_fee_price" property="sauceFeePrice"/>
        <result column="towel_fee_count" property="towelFeeCount"/>
        <result column="towel_fee_price" property="towelFeePrice"/>
        <result column="tableware_fee_count" property="tablewareFeeCount"/>
        <result column="tableware_fee_price" property="tablewareFeePrice"/>
        <result column="is_use_new_service" property="isUseNewService"/>
        <result column="data_origin" property="dataOrigin"/>
        <result column="order_pos_discount_money" property="orderPosDiscountMoney"/>
        <result column="member_discount_money" property="memberDiscountMoney"/>
        <result column="member_discount" property="memberDiscount"/>
        <collection property="orderPaymentItems" ofType="com.resto.shop.web.model.OrderPaymentItem" javaType="List">
            <id column="order_payment_id" property="id"/>
            <result column="pay_value" property="payValue"/>
            <result column="payment_mode_id" property="paymentModeId"/>
            <result column="result_data" property="resultData"/>
            <result column="pay_time" property="payTime"/>
        </collection>
        <collection property="orderItems" ofType="com.resto.shop.web.model.OrderItem" javaType="List">
            <id column="order_item_id" property="id"/>
            <result column="article_name" property="articleName"/>
            <result column="article_id" property="articleId"/>
            <result column="count" property="count"/>
            <result column="original_price" property="originalPrice"/>
            <result column="unit_price" property="unitPrice"/>
            <result column="original_count" property="originalCount"/>
            <result column="refund_count" property="refundCount"/>
            <result column="type" property="type"/>
        </collection>
    </resultMap>

    <resultMap id="selectOrdersMap" type="com.resto.shop.web.model.Order">
        <id property="tag" column="tag"/>
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="shop_detail_id" property="shopDetailId" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>
        <result column="order_state" property="orderState" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="ver_code" property="verCode" jdbcType="VARCHAR"/>
        <result column="order_state" property="orderState" jdbcType="VARCHAR"/>
        <result column="order_money" property="orderMoney" jdbcType="DECIMAL"/>
        <result column="production_status" property="productionStatus"/>
        <result column="parent_order_id" property="parentOrderId"/>
        <result column="service_price" property="servicePrice"/>
        <result column="order_mode" property="orderMode"/>
        <result column="distribution_mode_id" property="distributionModeId"/>
        <result column="table_number" property="tableNumber"/>

        <association property="customer" javaType="com.resto.shop.web.model.Customer">
            <id column="customer_id" property="id"/>
            <result column="telephone" property="telephone"/>
        </association>

        <association property="appraise" javaType="com.resto.shop.web.model.Appraise">
            <id column="appraise_id" property="id"/>
            <result column="level" property="level"/>
        </association>

        <collection property="orderPaymentItems" javaType="List" ofType="orderPaymentItem">
            <id column="orderPaymentItem_id" property="id"/>
            <result column="pay_value" property="payValue"/>
            <result column="payment_mode_id" property="paymentModeId"/>
        </collection>
    </resultMap>

    <resultMap id="shopMap" type="com.resto.brand.web.dto.ShopOrderReportDto">
        <result column="orderCount" property="shop_orderCount" jdbcType="INTEGER"/>
        <result column="orderPrice" property="shop_orderPrice" jdbcType="DECIMAL"/>
        <result column="peopleCount" property="shop_peopleCount" jdbcType="INTEGER"/>
        <result column="tangshiCount" property="shop_tangshiCount" jdbcType="INTEGER"/>
        <result column="tangshiPrice" property="shop_tangshiPrice" jdbcType="DECIMAL"/>
        <result column="waidaiCount" property="shop_waidaiCount" jdbcType="INTEGER"/>
        <result column="waidaiPrice" property="shop_waidaiPrice" jdbcType="DECIMAL"/>
        <result column="waimaiCount" property="shop_waimaiCount" jdbcType="INTEGER"/>
        <result column="waimaiPrice" property="shop_waimaiPrice" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="brandMap" type="com.resto.brand.web.dto.BrandOrderReportDto">
        <result column="orderCount" property="orderCount" jdbcType="INTEGER"/>
        <result column="orderPrice" property="orderPrice" jdbcType="DECIMAL"/>
        <result column="peopleCount" property="peopleCount" jdbcType="INTEGER"/>
        <result column="tangshiCount" property="tangshiCount" jdbcType="INTEGER"/>
        <result column="tangshiPrice" property="tangshiPrice" jdbcType="DECIMAL"/>
        <result column="waidaiCount" property="waidaiCount" jdbcType="INTEGER"/>
        <result column="waidaiPrice" property="waidaiPrice" jdbcType="DECIMAL"/>
        <result column="waimaiCount" property="waimaiCount" jdbcType="INTEGER"/>
        <result column="waimaiPrice" property="waimaiPrice" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="consumedOrderByshopId" type="com.resto.shop.web.model.Order">
        <id column="id" property="id"/>
        <result column="order_money" property="orderMoney"/>
        <result column="order_mode" property="orderMode"/>
        <result column="pay_type" property="payType"/>
        <result column="amount_with_children" property="amountWithChildren"/>
        <result column="create_time" property="createTime"/>
        <collection property="orderPaymentItems" javaType="List" ofType="orderPaymentItem">
            <id column="orderPaymentItemId" property="id"/>
            <result column="payment_mode_id" property="paymentModeId"/>
            <result column="pay_value" property="payValue"/>
        </collection>
    </resultMap>

    <resultMap id="selectListBybrandIdmap" type="com.resto.shop.web.model.Order">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="shop_detail_id" property="shopDetailId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="order_money" property="orderMoney" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="customer_count" property="customerCount"/>
        <result column="distribution_mode_id" property="distributionModeId"/>
        <result column="parent_order_id" property="parentOrderId"/>
        <association property="appraise" javaType="com.resto.shop.web.model.Appraise">
            <id column="appraise_id" property="id"/>
            <result column="level" property="level"/>
            <result column="red_money" property="redMoney"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id, table_number, customer_count, accounting_time,
        order_state,
        production_status,
        original_amount, reduction_amount,
        payment_amount, order_money, ali_pay_discount_money, article_count,
        serial_number,
        confirm_time, print_times, allow_cancel, allow_appraise, closed,
        remark,
        create_time,
        operator_id, customer_id,customer_address_id, distribution_date,
        distribution_time_id,
        delivery_point_id,
        shop_detail_id,
        distribution_mode_id, ver_code, push_order_time, print_order_time,
        call_number_time, order_mode, brand_id, amount_with_children,
        parent_order_id, allow_continue_order,
        count_with_child,
        last_order_time,customer_count,service_price,pay_mode,base_money,base_order_money,base_customer_count,meal_fee_price,meal_all_number
        ,is_pay,need_scan, base_meal_all_count, pay_type,is_confirm, is_refund_order, is_get_share_coupon, give_change, is_pos_pay,
        print_fail_flag,print_kitchen_flag, pos_discount, erase_money, no_discount_money, is_consumption_rebate, group_id, before_id, order_before
        ,sauce_fee_count,sauce_fee_price,towel_fee_count,towel_fee_price,tableware_fee_count,tableware_fee_price,is_use_new_service,data_origin,
        order_pos_discount_money,member_discount_money,member_discount
    </sql>


    <select id="selectListByTime" resultMap="selectOrdersMap">
        SELECT
            o.id,
            o.brand_id,
            o.parent_order_id,
            o.shop_detail_id,
            o.create_time,
            o.distribution_mode_id,
            o.ver_code,
            o.order_money,
            o.order_state,
            o.production_status,
            o.service_price,
            o.order_mode,
            o.distribution_mode_id,
            o.table_number,
            c.telephone,
            a.level,
            oi.pay_value,
            oi.payment_mode_id
        FROM
        tb_order o
        LEFT JOIN tb_customer c ON o.customer_id = c.id
        LEFT JOIN tb_appraise a ON o.id = a.order_id
        LEFT JOIN tb_order_payment_item oi on o.id = oi.order_id
        where o.create_time >= #{beginDate} and #{endDate} >= o.create_time
        <if test="customerId != null and customerId != ''">
            and o.customer_id = #{customerId}
        </if>
        <if test="shopId != null and shopId != ''">
            and o.shop_detail_id = #{shopId}
        </if>
        and (o.order_state != 1 or o.production_status != 0)
    </select>

    <select id="selectOrderNumByTimeAndBrandId" resultType="com.resto.shop.web.dto.OrderNumDto">
        SELECT
        COUNT(DISTINCT o.id) num,
        o.shop_detail_id shopId
        FROM
        tb_order o
        INNER JOIN tb_order_payment_item opi ON o.id = opi.order_id
        WHERE
        <![CDATA[ o.create_time >= #{beginDate} and o.create_time <= #{endDate}]]>
        AND o.order_state IN (2, 10, 11, 12)
        AND o.production_status IN (2, 3)
        AND o.brand_id = #{brandId}
        GROUP BY
        o.shop_detail_id;
    </select>

    <select id="procDayAllOrderItemBrand" resultMap="brandMap">
        SELECT orderCount,SUM(t2.orderPrice) orderPrice,peopleCount,tangshiCount,SUM(t2.tangshiPrice) tangshiPrice,waidaiCount,SUM(waidaiPrice) waidaiPrice,waimaiCount,SUM(waimaiPrice) waimaiPrice FROM
        (SELECT
        COUNT(CASE WHEN ISNULL(o.parent_order_id) THEN o.id ELSE null END)  orderCount,
        SUM(CASE WHEN ISNULL(o.parent_order_id) THEN o.customer_count ELSE null END) peopleCount,
        COUNT(CASE WHEN o.distribution_mode_id=1 AND ISNULL(o.parent_order_id) THEN o.id ELSE null END) tangshiCount,
        COUNT(CASE WHEN o.distribution_mode_id=3 AND ISNULL(o.parent_order_id) THEN o.id ELSE null END) waidaiCount,
        COUNT(CASE WHEN o.distribution_mode_id=2 AND ISNULL(o.parent_order_id) THEN o.id ELSE null END) waimaiCount
        FROM tb_order o
        WHERE o.production_status IN (2,3,4)
        AND	o.order_state IN (2,10,11,12)
        AND o.create_time >= CONCAT(#{beginDate},' 00:00:00')
        AND CONCAT(#{endDate},' 23:59:59') >= o.create_time
        AND o.brand_id=#{brandId}) t1,
        (SELECT
        SUM(i.unit_price * i.count) + o.service_price + o.meal_fee_price orderPrice,
        SUM(CASE WHEN o.distribution_mode_id=1 THEN i.unit_price * i.count ELSE null END)+ o.service_price + o.meal_fee_price tangshiPrice,
        SUM(CASE WHEN o.distribution_mode_id=3 THEN i.unit_price * i.count ELSE null END)+ o.service_price + o.meal_fee_price waidaiPrice,
        SUM(CASE WHEN o.distribution_mode_id=2 THEN i.unit_price * i.count ELSE null END)+ o.service_price + o.meal_fee_price waimaiPrice
        FROM tb_order o ,tb_order_item i
        WHERE o.id=i.order_id
        AND o.production_status IN (2,3,4)
        AND	o.order_state IN (2,10,11,12)
        AND o.create_time >= CONCAT(#{beginDate},' 00:00:00')
        AND CONCAT(#{endDate},' 23:59:59') >= o.create_time
        AND o.brand_id=#{brandId}
        GROUP BY o.id) t2;
    </select>

    <select id="callProcDayAllOrderItem" resultType="com.resto.brand.web.dto.ShopIncomeDto">
        SELECT
            td.shop_detail_id shopDetailId,
            td.parent_order_id parentOrderId,
            td.create_time createTime,
            td.original_amount originalAmount,
            td.order_money totalIncome
        FROM
        tb_order td
        WHERE
        td.order_state IN (2, 10, 11, 12)
        AND td.production_status IN (2, 3, 4)
        and td.create_time >= CONCAT(#{beginDate},' 00:00:00')
        and CONCAT(#{endDate},' 23:59:59') >= td.create_time
        <if test="shopId != null">
          and td.shop_detail_id = #{shopId}
        </if>
        GROUP BY
        td.id
        ORDER BY
        td.create_time ASC
        LIMIT #{pageNo},1000
    </select>

    <select id="callProcDayAllOrderPayMent" resultType="com.resto.brand.web.dto.ShopIncomeDto">
        select td.shop_detail_id shopDetailId,td.id orderId, td.create_time createTime,
            SUM(IF(top.payment_mode_id = 1, top.pay_value, 0)) wechatIncome,
            SUM(IF(top.payment_mode_id = 2, top.pay_value, 0)) redIncome,
            SUM(IF(top.payment_mode_id = 3, top.pay_value, 0)) couponIncome,
            SUM(IF(top.payment_mode_id = 4, top.pay_value, 0)) otherPayment,
            SUM(IF(top.payment_mode_id = 5, top.pay_value, 0)) backCartPay,
            SUM(IF(top.payment_mode_id = 6, top.pay_value, 0)) chargeAccountIncome,
            SUM(IF(top.payment_mode_id = 7, top.pay_value, 0)) chargeGifAccountIncome,
            SUM(IF(top.payment_mode_id = 8, top.pay_value, 0)) waitNumberIncome,
            SUM(IF(top.payment_mode_id = 10, top.pay_value, 0)) aliPayment,
            ABS(SUM(IF(top.payment_mode_id = 11, top.pay_value, 0))) articleBackPay,
            SUM(IF(top.payment_mode_id = 12, top.pay_value, 0)) + SUM(IF(top.payment_mode_id = 18, top.pay_value, 0)) moneyPay,
            SUM(IF(top.payment_mode_id = 16, top.pay_value, 0)) shanhuiPayment,
            SUM(IF(top.payment_mode_id = 17, top.pay_value, 0)) integralPayment,
            SUM(IF(top.payment_mode_id = 19, top.pay_value, 0)) refundCrashPayment
        from tb_order td
            left join tb_order_payment_item top
            on td.id = top.order_id
            where td.order_state in (2,10,11,12)
            and td.production_status in (2,3)
            and td.create_time >= CONCAT(#{beginDate},' 00:00:00')
            and CONCAT(#{endDate},' 23:59:59') >= td.create_time
            and top.payment_mode_id not in (13,14,15)
            <if test="shopId != null">
              and td.shop_detail_id = #{shopId}
            </if>
        GROUP BY td.id
        ORDER BY td.create_time asc
        LIMIT #{pageNo},1000;
    </select>

    <select id="procDayAllOrderItemShop" resultMap="shopMap">
        SELECT orderCount,SUM(t2.orderPrice) orderPrice,peopleCount,tangshiCount,SUM(t2.tangshiPrice) tangshiPrice,waidaiCount,SUM(t2.waidaiPrice) waidaiPrice,waimaiCount,SUM(t2.waimaiPrice) waimaiPrice FROM
        (SELECT
        COUNT(CASE WHEN ISNULL(o.parent_order_id) THEN o.id ELSE null END)  orderCount,
        SUM(CASE WHEN ISNULL(o.parent_order_id) THEN o.customer_count ELSE null END) peopleCount,
        COUNT(CASE WHEN o.distribution_mode_id=1 AND ISNULL(o.parent_order_id) THEN o.id ELSE null END) tangshiCount,
        COUNT(CASE WHEN o.distribution_mode_id=3 AND ISNULL(o.parent_order_id) THEN o.id ELSE null END) waidaiCount,
        COUNT(CASE WHEN o.distribution_mode_id=2 AND ISNULL(o.parent_order_id) THEN o.id ELSE null END) waimaiCount
        FROM tb_order o
        WHERE o.production_status IN (2,3,4)
        AND	o.order_state IN (2,10,11,12)
        AND o.create_time >= CONCAT(#{0},' 00:00:00')
        AND CONCAT(#{1},' 23:59:59') >= o.create_time
        AND o.shop_detail_id=#{2}) t1,
        (SELECT
        SUM(i.unit_price * i.count) + o.service_price + o.meal_fee_price orderPrice,
        SUM(CASE WHEN o.distribution_mode_id=1 THEN i.unit_price * i.count ELSE null END)+ o.service_price + o.meal_fee_price tangshiPrice,
        SUM(CASE WHEN o.distribution_mode_id=3 THEN i.unit_price * i.count ELSE null END)+ o.service_price + o.meal_fee_price waidaiPrice,
        SUM(CASE WHEN o.distribution_mode_id=2 THEN i.unit_price * i.count ELSE null END)+ o.service_price + o.meal_fee_price waimaiPrice
        FROM tb_order o ,tb_order_item i
        WHERE o.id=i.order_id
        AND o.production_status IN (2,3,4)
        AND	o.order_state IN (2,10,11,12)
        AND o.create_time >= CONCAT(#{0},' 00:00:00')
        AND CONCAT(#{1},' 23:59:59') >= o.create_time
        AND o.shop_detail_id=#{2}
        GROUP BY o.id) t2
    </select>

    <select id="selectListByShopId" resultMap="consumedOrderByshopId">
        SELECT
          o.id,o.order_money,oi.payment_mode_id ,oi.pay_value,o.create_time
        FROM
        tb_order o
        INNER JOIN tb_order_payment_item oi ON o.id = oi.order_id
        WHERE
        o.order_state IN (2, 10, 11, 12)
        and o.production_status in (2,3) AND
        <![CDATA[ o.create_time >= #{beginDate} and  o.create_time <= #{endDate}]]> and o.shop_detail_id=#{shopId}
    </select>

    <select id="selectListBybrandId" resultMap="selectListBybrandIdmap">
        SELECT
            o.id , o.order_money ,a.level,o.shop_detail_id,a.red_money,o.customer_count,
            o.distribution_mode_id,o.parent_order_id
            <if test="type == 1">
                ,o.create_time
            </if>
            <if test="type == 0">
                ,a.create_time
            </if>
        from tb_order o
        LEFT JOIN tb_order_payment_item oi
        on o.id = oi.order_id
        LEFT JOIN  tb_appraise a
        on o.id = a.order_id
        WHERE o.order_state in (10,11,12,2) and o.production_status in (2,3,4)
        <if test="type == 0">
          and <![CDATA[ a.create_time >= #{beginDate} and a.create_time <= #{endDate}]]>
        </if>
        <if test="type == 1">
            and <![CDATA[ o.create_time >= #{beginDate} and o.create_time <= #{endDate}]]>
        </if>
        and o.brand_id = #{brandId}
        GROUP BY o.id
    </select>

    <select id="addRefundArticleDto" resultType="com.resto.brand.web.dto.RefundArticleOrder">
        select
            td.id orderId, td.shop_detail_id shopId, td.table_number, IFNULL(tc.telephone,'--') telephone
            ,tc.nickname nickName, IFNULL(SUM(toi.refund_count),0) refund_count, IFNULL(SUM(toi.refund_count * toi.unit_price),0) refundMoney
            ,DATE_FORMAT(td.create_time,'%Y-%m-%d %H:%I:%s') pushOrderTime
        from tb_order td
        left join tb_order_item toi
        on td.id = toi.order_id
        left join tb_customer tc
        on td.customer_id = tc.id
        where td.order_state in (2,10,11,12)
        and IF(td.production_status = 6, td.production_status = 6, td.production_status in (2,3))
        and td.create_time >= CONCAT(#{beginDate},' 00:00:00')
        and CONCAT(#{endDate},' 23:59:59') >= td.create_time
        and toi.refund_count != 0
        <if test="shopId != null">
          and td.shop_detail_id = #{shopId}
        </if>
        GROUP BY td.id
    </select>

    <!--查询品牌菜品的总数 -->
    <select id="selectBrandArticleNum" resultType="java.lang.Integer">
        SELECT
            IFNULL(
            SUM(IF(oi.type != 4, oi.count, 0)) + IFNULL(o.meal_all_number, 0),
            0
            ) totalNum
        FROM
        tb_order o
        INNER JOIN tb_order_item oi ON o.id = oi.order_id
        WHERE
        o.order_state IN (10, 2, 11, 12)
        AND
        IF (
        o.is_pos_pay = 1,
        o.is_pos_pay = 1,
        o.production_status IN (2, 3)
        )
        and o.create_time >= CONCAT(#{beginDate},' 00:00:00')
        and CONCAT(#{endDate},' 23:59:59') >= o.create_time
    </select>

    <select id="selectConfirmMoney" resultType="com.resto.brand.web.dto.brandArticleReportDto">
        SELECT
            IFNULL(sum(oi.final_price) + IFNULL(o.meal_fee_price,0),0.00) sellIncome,
            IFNULL(SUM(IF(oi.type != 4, oi.refund_count, 0)) + IFNULL(SUM(o.base_customer_count-o.customer_count),0)
            + IFNULL(SUM(o.base_meal_all_count - o.meal_all_number),0),0)refundCount,
            IFNULL(SUM(oi.refund_count*oi.unit_price) +
            IFNULL(IF(SUM(o.service_price) = 0 or SUM(o.customer_count) = 0,0,(SUM(o.service_price)/SUM(o.customer_count)) * SUM(o.base_customer_count-o.customer_count)
            ),0) + IFNULL(IF(SUM(o.meal_fee_price) = 0 or SUM(o.meal_all_number) = 0,0,(SUM(o.meal_fee_price)/SUM(o.meal_all_number)) * SUM(o.base_meal_all_count-o.meal_all_number)
            ),0),0.00)refundTotal,
            IFNULL(SUM((oi.count * oi.original_price) - oi.final_price),0.00) discountTotal
        FROM tb_order_item oi
        INNER JOIN tb_order o on o.id = oi.order_id
        WHERE
        o.order_state IN (10, 2, 11, 12)
        AND IF(o.production_status = 6,o.production_status = 6,o.production_status IN (2, 3))
        AND o.create_time >= CONCAT(#{beginDate},' 00:00:00') AND CONCAT(#{endDate},' 23:59:59') >= o.create_time
        GROUP BY o.id
    </select>

    <select id="selectMealServiceSales" resultType="java.util.Map">
        SELECT
            td.shop_detail_id shopId,
            IFNULL(SUM(td.meal_all_number),0) mealSellNum,
            IFNULL(SUM(td.meal_fee_price),0) mealSalles,
            IFNULL(SUM(td.customer_count),0) serviceSellNum,
            IFNULL(SUM(td.service_price),0) serviceSalles,
            IFNULL(SUM(td.base_meal_all_count-td.meal_all_number),0) refundMealNum,
            IFNULL(SUM(td.base_meal_all_count-td.meal_all_number) * (SUM(td.meal_fee_price)/SUM(td.meal_all_number)),0) refundMealSalles,
            IFNULL(SUM(td.base_customer_count-td.customer_count),0) refundServiceCount,
            IFNULL(IF(SUM(td.service_price) = 0 or SUM(td.customer_count) = 0,0,SUM(td.base_customer_count-td.customer_count) * (SUM(td.service_price)/SUM(td.customer_count))),0) refundServiceSalles
        FROM
        tb_order td
        WHERE
        td.order_state IN (2, 10, 11, 12)
        AND td.production_status IN (2, 3)
        AND td.create_time &gt;= CONCAT(#{beginDate},' 00:00:00')
        AND td.create_time &lt;= CONCAT(#{endDate},' 23:59:59')
        <if test="shopDetailId != null">
            AND td.shop_detail_id = #{shopDetailId}
        </if>
        AND td.parent_order_id is null
        GROUP BY td.shop_detail_id
    </select>

    <!--查询品牌下每个店铺所有菜品卖的钱的和-->
    <select id="selectShopArticleSell" resultType="com.resto.brand.web.dto.ShopArticleReportDto">
        SELECT
            IFNULL(SUM(IF(oi.type != 4, oi.count, 0)) + IFNULL(o.meal_all_number,0),0) totalNum,
            IFNULL(SUM(oi.final_price) + IFNULL(o.meal_fee_price,0),0.00) sellIncome,
            o.shop_detail_id shop_id,
            IFNULL(SUM(IF(oi.type != 4, oi.refund_count, 0)) + IFNULL(SUM(o.base_customer_count-o.customer_count),0)
            + IFNULL(SUM(o.base_meal_all_count - o.meal_all_number),0),0)refundCount,
            IFNULL(SUM(oi.refund_count*oi.unit_price) +
            IFNULL(IF(SUM(o.service_price) = 0 or SUM(o.customer_count) = 0,0,(SUM(o.service_price)/SUM(o.customer_count)) * SUM(o.base_customer_count-o.customer_count)
            ),0) + IFNULL(IF(SUM(o.meal_fee_price) = 0 or SUM(o.meal_all_number) = 0,0,(SUM(o.meal_fee_price)/SUM(o.meal_all_number)) * SUM(o.base_meal_all_count-o.meal_all_number)
            ),0),0.00)refundTotal,
            IFNULL(SUM((oi.count * oi.original_price) - oi.final_price),0.00) discountTotal
        from tb_article ta
        LEFT JOIN tb_article_price tap on ta.id = tap.article_id
        INNER JOIN tb_order_item oi on oi.article_id = ta.id or oi.article_id = tap.id
        INNER JOIN  tb_order o ON o.id=oi.order_id
        WHERE
        o.order_state IN (10,2, 11, 12) AND  IF(o.production_status = 6,o.production_status = 6,o.production_status in (2,3))
        AND
        o.create_time >= #{beginDate} and  #{endDate} >= o.create_time
        GROUP BY o.id
    </select>
</mapper>