<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.dao.AccountLogMapper">
  <resultMap id="BaseResultMap" type="com.resto.shop.web.model.AccountLog">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="money" property="money" jdbcType="DECIMAL"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="payment_type" property="paymentType" jdbcType="TINYINT"/>
    <result column="remain" property="remain" jdbcType="DECIMAL"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="account_id" property="accountId" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">id, money, create_time, payment_type, remain, remark, account_id</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">select 
    <include refid="Base_Column_List"/> from tb_account_log where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">delete from tb_account_log where id = #{id,jdbcType=VARCHAR}</delete>
  <insert id="insert" parameterType="com.resto.shop.web.model.AccountLog">insert into tb_account_log (id, money, create_time, payment_type, remain, remark, account_id) values (#{id,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{paymentType,jdbcType=TINYINT}, #{remain,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR})</insert>
  <insert id="insertSelective" parameterType="com.resto.shop.web.model.AccountLog">insert into tb_account_log 
    <trim prefix="(" suffix=")" suffixOverrides=","> 
      <if test="id != null">id,</if>  
      <if test="money != null">money,</if>  
      <if test="createTime != null">create_time,</if>  
      <if test="paymentType != null">payment_type,</if>  
      <if test="remain != null">remain,</if>  
      <if test="remark != null">remark,</if>  
      <if test="accountId != null">account_id,</if> 
    </trim>  
    <trim prefix="values (" suffix=")" suffixOverrides=","> 
      <if test="id != null">#{id,jdbcType=VARCHAR},</if>  
      <if test="money != null">#{money,jdbcType=DECIMAL},</if>  
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>  
      <if test="paymentType != null">#{paymentType,jdbcType=TINYINT},</if>  
      <if test="remain != null">#{remain,jdbcType=DECIMAL},</if>  
      <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>  
      <if test="accountId != null">#{accountId,jdbcType=VARCHAR},</if> 
    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.shop.web.model.AccountLog">update tb_account_log 
    <set> 
      <if test="money != null">money = #{money,jdbcType=DECIMAL},</if>  
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>  
      <if test="paymentType != null">payment_type = #{paymentType,jdbcType=TINYINT},</if>  
      <if test="remain != null">remain = #{remain,jdbcType=DECIMAL},</if>  
      <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>  
      <if test="accountId != null">account_id = #{accountId,jdbcType=VARCHAR},</if> 
    </set> where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.shop.web.model.AccountLog">update tb_account_log set money = #{money,jdbcType=DECIMAL}, create_time = #{createTime,jdbcType=TIMESTAMP}, payment_type = #{paymentType,jdbcType=TINYINT}, remain = #{remain,jdbcType=DECIMAL}, remark = #{remark,jdbcType=VARCHAR}, account_id = #{accountId,jdbcType=VARCHAR} where id = #{id,jdbcType=VARCHAR}</update>
  <select id="selectList" resultType="AccountLog">select * from tb_account_log</select>
</mapper>
