<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.dao.ChargeLogMapper">
  <resultMap id="BaseResultMap" type="com.resto.shop.web.model.ChargeLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_charge_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_charge_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertChargeLogService" parameterType="com.resto.shop.web.model.ChargeLog" >
    insert into tb_charge_log
	(
	    id,
	    operation_phone,
	    customer_phone,
	    shop_detail_id,
	    shop_name,
	    charge_money,
	    create_time,
	    charge_order_id
	) 
	values
	(
		#{id},
		#{operationPhone},
		#{customerPhone},
		#{shopDetailId},
		#{shopName},
		#{chargeMoney},
		#{createTime},
		#{chargeOrderId}
	)
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.shop.web.model.ChargeLog" >
    update tb_charge_order
    <set >
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--店铺充值详细-->
    <select id="shopchargecord" resultType="">
        SELECT  o.id ,c.id , c.operation_phone,c.customer_phone,o.charge_money ,o.reward_money, o.finish_time,o.shop_detail_id  from tb_charge_log c
        INNER JOIN tb_charge_order o ON c.charge_order_id=o.id
        WHERE o.shop_detail_id="31164cebcc4b422685e8d9a32db12ab8"
        AND o.order_state = 1

        <if test="begin != null">
            AND  <![CDATA[  o.finish_time>=#{begin} ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            AND  <![CDATA[ o.finish_time <= #{ endDate } ]]>
        </if>
    </select>


</mapper>
