<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.dao.ShopCartMapper">
  <resultMap id="BaseResultMap" type="com.resto.shop.web.model.ShopCart">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="number" property="number" jdbcType="INTEGER"/>
    <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
    <result column="article_id" property="articleId" jdbcType="VARCHAR"/>
    <result column="shop_detail_id" property="shopDetailId" jdbcType="VARCHAR"/>
    <result column="distribution_mode_id" property="distributionModeId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">id, number, customer_id, article_id, shop_detail_id, distribution_mode_id</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">select 
    <include refid="Base_Column_List"/> from tb_shop_cart where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">delete from tb_shop_cart where id = #{id,jdbcType=INTEGER}</delete>
  <insert id="insert" parameterType="com.resto.shop.web.model.ShopCart">insert into tb_shop_cart (id, number, customer_id, article_id, shop_detail_id, distribution_mode_id ) values (#{id,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{customerId,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{shopDetailId,jdbcType=VARCHAR}, #{distributionModeId,jdbcType=INTEGER} )</insert>
  <insert id="insertSelective" parameterType="com.resto.shop.web.model.ShopCart">insert into tb_shop_cart 
    <trim prefix="(" suffix=")" suffixOverrides=","> 
      <if test="id != null">id,</if>  
      <if test="number != null">number,</if>  
      <if test="customerId != null">customer_id,</if>  
      <if test="articleId != null">article_id,</if>  
      <if test="shopDetailId != null">shop_detail_id,</if>  
      <if test="distributionModeId != null">distribution_mode_id,</if> 
    </trim>  
    <trim prefix="values (" suffix=")" suffixOverrides=","> 
      <if test="id != null">#{id,jdbcType=INTEGER},</if>  
      <if test="number != null">#{number,jdbcType=INTEGER},</if>  
      <if test="customerId != null">#{customerId,jdbcType=VARCHAR},</if>  
      <if test="articleId != null">#{articleId,jdbcType=VARCHAR},</if>  
      <if test="shopDetailId != null">#{shopDetailId,jdbcType=VARCHAR},</if>  
      <if test="distributionModeId != null">#{distributionModeId,jdbcType=INTEGER},</if> 
    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.shop.web.model.ShopCart">update tb_shop_cart 
    <set> 
      <if test="number != null">number = #{number,jdbcType=INTEGER},</if>  
      <if test="customerId != null">customer_id = #{customerId,jdbcType=VARCHAR},</if>  
      <if test="articleId != null">article_id = #{articleId,jdbcType=VARCHAR},</if>  
      <if test="shopDetailId != null">shop_detail_id = #{shopDetailId,jdbcType=VARCHAR},</if>  
      <if test="distributionModeId != null">distribution_mode_id = #{distributionModeId,jdbcType=INTEGER},</if> 
    </set> where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.shop.web.model.ShopCart">update tb_shop_cart set number = #{number,jdbcType=INTEGER}, customer_id = #{customerId,jdbcType=VARCHAR}, article_id = #{articleId,jdbcType=VARCHAR}, shop_detail_id = #{shopDetailId,jdbcType=VARCHAR}, distribution_mode_id = #{distributionModeId,jdbcType=INTEGER} where id = #{id,jdbcType=INTEGER}</update>
  <select id="selectList" resultType="ShopCart">select * from tb_shop_cart</select>
  
  <!-- 查询购物车明细 -->
  <select id="listUserAndShop" resultType="com.resto.shop.web.model.ShopCart">
  select id,number,customer_id,article_id,shop_detail_id,distribution_mode_id from tb_shop_cart
  where distribution_mode_id=#{distributionModeId} and customer_id=#{customerId} and shop_detail_id=#{shopDetailId}
  </select>
  
  
  <select id="selectShopCartItem" parameterType="com.resto.shop.web.model.ShopCart" resultType="com.resto.shop.web.model.ShopCart">
		select id,number,customer_id,article_id,shop_detail_id,distribution_mode_id from tb_shop_cart
		where 
			distribution_mode_id =#{distributionModeId} and
			article_id = #{articleId} and
			customer_id =#{customerId} and
			shop_detail_id =#{shopDetailId}
	</select>
	
	<update id="updateShopCartItem" parameterType="com.resto.shop.web.model.ShopCart">update tb_shop_cart 
    <set> 
      <if test="number != null">number = #{number,jdbcType=INTEGER},</if>  
      <if test="customerId != null">customer_id = #{customerId,jdbcType=VARCHAR},</if>  
      <if test="articleId != null">article_id = #{articleId,jdbcType=VARCHAR},</if>  
      <if test="shopDetailId != null">shop_detail_id = #{shopDetailId,jdbcType=VARCHAR},</if>  
      <if test="distributionModeId != null">distribution_mode_id = #{distributionModeId,jdbcType=INTEGER},</if> 
    </set> where id = #{id,jdbcType=INTEGER}
  </update>
	
	
</mapper>
