<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.shop.web.dao.TableCodeMapper">
  <resultMap id="BaseResultMap" type="com.resto.shop.web.model.TableCode">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="code_number" property="codeNumber" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    <result column="max_number" property="maxNumber" jdbcType="INTEGER"/>
    <result column="min_number" property="minNumber" jdbcType="INTEGER"/>
    <result column="is_used" property="isUsed" jdbcType="TINYINT"/>
      <result column="shop_detail_id" property="shopDetailId" jdbcType="VARCHAR"/>
      <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>

  </resultMap>
  <sql id="Base_Column_List">id, name, code_number, create_time, end_time, max_number, min_number, is_used,shop_detail_id,brand_id</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">select 
    <include refid="Base_Column_List"/> from tb_table_code where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">delete from tb_table_code where id = #{id,jdbcType=VARCHAR}</delete>
  <insert id="insert" parameterType="com.resto.shop.web.model.TableCode">insert into tb_table_code (id, name, code_number, create_time, end_time, max_number, min_number, is_used,shop_detail_id,brand_id) values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{codeNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{maxNumber,jdbcType=INTEGER}, #{minNumber,jdbcType=INTEGER}, #{isUsed,jdbcType=TINYINT},#{shopDetailId,jdbcType=VARCHAR},#{brandId,jdbcType=VARCHAR})</insert>
  <insert id="insertSelective" parameterType="com.resto.shop.web.model.TableCode">insert into tb_table_code 
    <trim prefix="(" suffix=")" suffixOverrides=","> 
      <if test="id != null">id,</if>  
      <if test="name != null">name,</if>  
      <if test="codeNumber != null">code_number,</if>  
      <if test="createTime != null">create_time,</if>  
      <if test="endTime != null">end_time,</if>  
      <if test="maxNumber != null">max_number,</if>  
      <if test="minNumber != null">min_number,</if>  
      <if test="isUsed != null">is_used,</if>
        <if test="shopDetailId != null">shop_detail_id,</if>
        <if test="brandId != null">brand_id,</if>
    </trim>  
    <trim prefix="values (" suffix=")" suffixOverrides=","> 
      <if test="id != null">#{id,jdbcType=VARCHAR},</if>  
      <if test="name != null">#{name,jdbcType=VARCHAR},</if>  
      <if test="codeNumber != null">#{codeNumber,jdbcType=VARCHAR},</if>  
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>  
      <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>  
      <if test="maxNumber != null">#{maxNumber,jdbcType=INTEGER},</if>  
      <if test="minNumber != null">#{minNumber,jdbcType=INTEGER},</if>  
      <if test="isUsed != null">#{isUsed,jdbcType=TINYINT},</if>
        <if test="shopDetailId != null">#{shopDetailId},</if>
        <if test="brandId != null">#{brandId},</if>

    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.shop.web.model.TableCode">update tb_table_code 
    <set> 
      <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>  
      <if test="codeNumber != null">code_number = #{codeNumber,jdbcType=VARCHAR},</if>  
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>  
      <if test="endTime != null">end_time = #{endTime,jdbcType=TIMESTAMP},</if>  
      <if test="maxNumber != null">max_number = #{maxNumber,jdbcType=INTEGER},</if>  
      <if test="minNumber != null">min_number = #{minNumber,jdbcType=INTEGER},</if>  
      <if test="isUsed != null">is_used = #{isUsed,jdbcType=TINYINT},</if>
        <if test="shopDetailId != null">shop_detail_id = #{shopDetailId},</if>
        <if test="brand_id != null">brandId = #{brandId},</if>
    </set> where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.shop.web.model.TableCode">update tb_table_code set name = #{name,jdbcType=VARCHAR}, code_number = #{codeNumber,jdbcType=VARCHAR}, create_time = #{createTime,jdbcType=TIMESTAMP}, end_time = #{endTime,jdbcType=TIMESTAMP}, max_number = #{maxNumber,jdbcType=INTEGER}, min_number = #{minNumber,jdbcType=INTEGER}, is_used = #{isUsed,jdbcType=TINYINT},shop_detail_id = #{shopDetailId},brand_id=#{brandId} where id = #{id,jdbcType=VARCHAR}</update>
  <select id="selectList" resultType="TableCode">select * from tb_table_code </select>

    <select id="selectByName" resultType="TableCode">
        SELECT
	id,
	name,
	code_number,
	max_number,
	min_number,
	is_used,
	shop_detail_id,
	brand_id
FROM
	tb_table_code
WHERE
	name = #{name}
    </select>

    <select id="selectByCodeNumber" resultType="TableCode">
        SELECT
        id,
        name,
        code_number,
        max_number,
        min_number,
        is_used,
        shop_detail_id,
        brand_id
        FROM
        tb_table_code
        WHERE
        code_number = #{codeNumber}
    </select>


    <select id="selectListByShopId" resultType="TableCode">
       SELECT
        id,
        name,
        code_number,
        max_number,
        min_number,
        is_used,
        shop_detail_id,
        brand_id
        FROM
        tb_table_code
        WHERE
        shop_detail_id = #{shopId}
</select>


    <select id="selectByPersonNumber" resultType="TableCode">
        select id,
        name,
        code_number,
        max_number,
        min_number,
        is_used,
        shop_detail_id,
        brand_id from tb_table_code
        where min_number &lt; #{personNumber} and max_number &gt; #{personNumber} and is_used = 1
        order by (max_number - min_number) asc
        limit 1
    </select>

    <select id="getTableList" resultType="TableCode">
        select t.* ,(select count(1) from tb_get_number where
        state = 0 and  table_type = t.code_number and t.is_used = 1
         and DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
        ) as waitNumber
         from tb_table_code t
        where t.is_used = 1
        and t.shop_detail_id = #{shopId}

    </select>
</mapper>
