<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resto.shop.web.dao.UnitMapper">

    <resultMap id="UnitResultMap" type="com.resto.shop.web.model.Unit">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="choice_type" property="choiceType"/>
        <result column="is_used" property="isUsed"/>
        <collection property="details" javaType="List" ofType="com.resto.shop.web.model.UnitDetail">
            <id column="detail_id" property="id"/>
            <result column="detail_name" property="name"/>
            <result column="detail_sort" property="sort"/>
        </collection>
    </resultMap>


    <select id="getUnits" resultMap="UnitResultMap">
        select t.id ,t.name,t.sort,t2.id as detail_id,t2.name as detail_name,t2.sort as detail_sort
           from tb_unit t
        left join tb_unit_detail t2 on t2.unit_id = t.id
        where t.shop_detail_id = #{shopId}
    </select>

    <insert id="insertSelective">
        insert into tb_unit
        (id,name,shop_detail_id,sort)
        values(#{id},#{name},#{shopId},#{sort})
    </insert>


    <insert id="insertFamily">
        insert into tb_unit_family
        (id,unit_id,name,sort,type)
        values (#{family.id},#{unitId},#{family.name},#{family.sort},#{family.type})
    </insert>

    <insert id="insertDetail">
        insert into tb_unit_detail
        (id,unit_id,name,sort)
        values(#{detail.id},#{unitId},#{detail.name},#{detail.sort})
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from tb_unit where id = #{id}
    </delete>

    <select id="getUnitById" resultMap="UnitResultMap">
         select t.id ,t.name,t.sort,t2.id as detail_id,t2.name as detail_name,t2.sort as detail_sort
           from tb_unit t
         left join tb_unit_detail t2 on t2.unit_id = t.id
         where t.id = #{id}
    </select>

    <update id="updateByPrimaryKeySelective">
        update tb_unit
        set name = #{name},
        sort = #{sort}
        where id = #{id}
    </update>

    <delete id="deleteDetail">
        delete from tb_unit_detail
        where unit_id = #{unitId}
    </delete>

    <delete id="deleteFamily">
        delete from tb_unit_family
        where unit_id = #{id}
    </delete>

    <select id="getUnitByArticleid" resultMap="UnitResultMap">
       select t2.unit_id as id ,t2.choice_type,t2.is_used from tb_article t
left join tb_article_unit_new t2 on t2.article_id = t.id
where t.id = #{articleId}
    </select>
</mapper>